<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" style="z-index: 200">
    <mat-toolbar-row matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color">
       
      <span>
        <a (click)="drawer.toggle()" style="color: #FFF;">
            <i class="material-icons" style="margin-top: 6px;">
                more_vert
            </i>
          </a>
      </span>
    </mat-toolbar-row>
</mat-toolbar>



<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
      <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
